body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   color: #333;
   text-align: center;
   padding-top: 50px;
}

h1 {
   color: #e67e22; /* Оранжевый цвет */  /* ИЗМЕНИ ЭТУ СТРОКУ */
}

p {
   font-size: 1.1em;
   line-height: 1.5;
}